body {
  margin: 0;
  height: 100vh;
  display: grid;
  place-content: center;
  background-blend-mode: hard-light;
  background: radial-gradient(
      ellipse at top left,
      var(--spotlight),
      var(--primary-background)
    ),
    url(https://www.transparenttextures.com/patterns/brushed-alum.png);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--primary-highlight);
  font-size: larger;

  --primary-background: #1e1e1e;
  --primary-highlight: lightgrey;
  --spotlight: hsl(210deg 49% 71% / 60%);
  --muted: gray;
  --secondary-background: #252526;
  --styled-border: 2px solid var(--primary-highlight);
  --primary-transition: 0.5s ease;
}

main {
  width: 33vw;
  height: 33vw;
  min-width: 20rem;
  min-height: 20rem;
  background: radial-gradient(
    ellipse at top left,
    hsl(0deg 0% 27%),
    var(--secondary-background)
  );
  box-shadow: black 0px 10px 30px;
  text-align: center;
}

main,
button {
  border: var(--styled-border);
  border-radius: 1em;
}

h1 {
  margin: 5px;
}

form {
  width: 80%;
  flex-shrink: 0;
}

fieldset {
  margin: unset;
  border: unset;
  padding: 1em 0;
  border-top: var(--styled-border);
}

button,
input,
label,
select {
  color: inherit;
  font-size: inherit;
  text-align-last: center;
}

label {
  display: block;
  margin-bottom: 1em;
}

input {
  -webkit-appearance: none;
}

input,
select {
  width: 100%;
  height: 2em;
  box-shadow: inset var(--primary-background) 0px 5px 20px 0px;
  background-color: #1e1e1e88;
  border: none;
  outline: none;
  align-self: center;
  -webkit-text-fill-color: var(--muted);
}

button:disabled,
input:disabled,
select:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  transition: var(--primary-transition) opacity;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  filter: invert(50%);
}

button {
  width: -webkit-fill-available;
  height: 2em;
  background-color: transparent;
  align-self: center;
  cursor: pointer;
  transition: all 0.25s ease;
}

b,
button:active,
button:focus,
button:hover {
  color: var(--primary-background);
  background-color: var(--primary-highlight);
}

button:hover,
button:focus {
  transform: translateY(-10px);
  box-shadow: black 0px 10px 30px;
}

button:active {
  transform: translateY(-5px);
  box-shadow: black 0px 5px 15px;
}

button:disabled {
  opacity: 0;
}

.spinner > b {
  width: 1em;
  height: 1em;
  margin: 0.25em;
  border-radius: 50%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

::selection {
  background: var(--primary-highlight);
  /* WebKit/Blink Browsers */
}

.flexcol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
